// Import the Material Design Colors {{{

@import "node_modules/sass-material-colors/sass/sass-material-colors";

// }}}

// Color System {{{

// Define the grey scale colors
$white: #fff !default;
$gray-100: material-color("grey", "100");
$gray-200: material-color("grey", "200");
$gray-300: material-color("grey", "300");
$gray-400: material-color("grey", "400");
$gray-500: material-color("grey", "500");
$gray-600: material-color("grey", "600");
$gray-700: material-color("grey", "700");
$gray-800: material-color("grey", "800");
$gray-900: material-color("grey", "900");
$black: #000 !default;

// Create the mapping for grey scale colors
$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

// Define the colors
$blue:   material-color("blue", "800");
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink:   #e83e8c !default;
$red:    #dc3545 !default;
$orange: material-color("orange", "800");
$yellow: #ffc107 !default;
$green:  #28a745 !default;
$teal:   #20c997 !default;
$cyan:   #17a2b8 !default;

// Create the mapping for the colors
$colors:       () !default;
$colors:       map-merge((
  "blue":      $blue,
  "indigo":    $indigo,
  "purple":    $purple,
  "pink":      $pink,
  "red":       $red,
  "orange":    $orange,
  "yellow":    $yellow,
  "green":     $green,
  "teal":      $teal,
  "cyan":      $cyan,
  "white":     $white,
  "gray":      $gray-600,
  "gray-dark": $gray-800
), $colors);

// Define the theme colors
// Define $dark to be a slightly 
// darker version of $secondary.
// While this is not strictly a 
// material color it fits better.
$primary:   $orange;
$secondary: $gray-900;
$success:   $green !default;
$info:      $blue;
$warning:   $yellow !default;
$danger:    $red !default;
$light:     $gray-200;
$dark:      darken($secondary, 5%);

// Create the map for the theme's colors
$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":   $primary,
  "secondary": $secondary,
  "success":   $success,
  "info":      $info,
  "warning":   $warning,
  "danger":    $danger,
  "light":     $light,
  "dark":      $dark
), $theme-colors);

// }}}

// Fonts {{{

// Use fonts from Google Web Fonts
$web-font-path: "https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab" !default;

// Load these fonts through CSS, no HTML changes are needed
@import url($web-font-path);

// }}}

// Typography {{{

// Define fonts from Google, also using platform fallback fonts
$font-family-sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Assume the base font size is 16px and define the base font to be 18 px or 18 / 16 = 1.125rem
$font-size-base: 1.275rem;
$font-size-lg:   ($font-size-base * 1.275);
$font-size-sm:   ($font-size-base * .875);

// Define the font weights for the Body text
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

// Define all of the header fonts in rem units
$h1-font-size: 3.375rem;
$h2-font-size: 2.375rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: 0.75rem;

// Define the main font for all of the headings
$headings-font-family: "Roboto Slab";
$headings-font-weight: 500;
$headings-line-height: 1.1;

// }}}

// Navbar {{{

// Define the colors for the Navbar
$navbar-dark-color: $gray-500;
$navbar-dark-hover-color: $gray-400;
$navbar-dark-active-color: $gray-400;
$navbar-dark-toggler-border-color: $gray-600;

// Define the padding on the navbar to be
// small than the Bootstrap 4 defaults
$spacer: 1rem !default;
$navbar-padding-x: ($spacer/2);

// Define the hamburger menu to be 1em
.navbar-toggler-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

// Make the Navbar more bold (default is 500)
.navbar-dark {
  .nav-link {
    font-weight: 600;
  }
}

// }}}

// Dropdowns {{{

// Define the colors for when dropdown is hovered or clicked
$component-active-color: $gray-200;
$component-active-bg: $gray-800;

// Define the background and border colors for the dropdown menu in the navbar
$dropdown-bg: $dark;
$dropdown-border-color: rgba($dark, 0.85);

// Define the link colors for the dropdown menu in the navbar
$dropdown-link-color: $gray-500;
$dropdown-link-hover-color: $gray-300;
$dropdown-link-hover-bg: $gray-800;

// Define the colors when the links are hovered or clicked
$dropdown-link-active-color: $component-active-color;
$dropdown-link-active-bg: $component-active-bg;

// }}}

// Headings {{{

// Define the color for all of the headings
$headings-color: $gray-600;

// Give more spacing to the bottom of headings
$spacer: 1rem;
$headings-margin-bottom: 1.2 * $spacer;

// }}}

// Body {{{

// Define the background and main text color
$body-bg: $secondary;
$body-color: $gray-400;

// Define non-Bootstrap rules for body elements
body {
  // Push down the main content to accommodate the fixed header
  min-height: 75rem;
  padding-top: 4.25rem;
  word-wrap: break-word;

  // Make spacing on the right for the social media icons
  a.social {
    margin-right: 0.5 * $spacer;
  }

  // Force the height to be auto for all pages. This should not be needed, but
  // if not here then some pages with little content have blank space!
  min-height: auto !important;

@media (min-width: 768px) {
.back-to-top {
  position: fixed;
  bottom: 1.25rem;
  right: 0rem;
  text-decoration: none;
  color: $gray-400;
  background-color: rgba($blue, 1.0);
  font-size: $font-size-base;
  padding: 1.25rem;
  display: none;
  outline: none;
}
}
@media (max-width: 767px) {
.back-to-top {
  position: fixed;
  bottom: 1.25rem;
  right: 0rem;
  text-decoration: none;
  color: $gray-400;
  background-color: rgba($blue, 0.50);
  font-size: 18px;
  padding: 1.25rem;
  display: none;
  outline: none;
}
}
.back-to-top:hover {
  color: $gray-400;
  outline: none;
}
.back-to-top:focus {
  color: $gray-400;
  outline: none;
}

}

// }}}

// Links {{{

$link-color: $primary;
$link-decoration: none;
$link-hover-color: material-color("orange", "600");
$link-hover-decoration: underline;

// }}}

// Buttons {{{

body {
  // Make the buttons have a smaller font than 16px (i.e., 1rem)
  .btn {
    color: $gray-300;
    font-size: .875rem;
  }

  // Change the color and styling of the "Info" buttons
  .btn-info:not(:disabled):not(.disabled):active,
  .btn-info:not(:disabled):not(.disabled).active, .show >
  .btn-info.dropdown-toggle {
    color: $gray-300;
    background-color: $blue;
    border-color: $blue;
    box-shadow: 0 0 0 0rem;
  }

  // Do not display a box shadow (it looks like a button border) for the "Info" buttons
  .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
  .show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0rem; }

  // Change the color and styling of the "Success" buttons
  .btn-success:not(:disabled):not(.disabled):active,
  .btn-success:not(:disabled):not(.disabled).active, .show >
  .btn-success.dropdown-toggle {
    color: $gray-300;
    background-color: $blue;
    border-color: $blue;
    box-shadow: 0 0 0 0rem;
    line-height: 0rem;
    padding: 0.01rem 0.25rem;
  }

  // Do not display a box shadow (it looks like a button border) for the "Success" buttons
  .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
  .show > .btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem;
  }
}

// }}}

// Popovers {{{

// Define the font size for popovers
$popover-font-size: .875 * $font-size-sm;

// Change the background colors for main popover and its header
$popover-bg:           material-color('blue', '800');
$popover-header-bg:    material-color('blue', '800');

// Always use the gray-300 color for the textual content
$popover-header-color: $gray-300;
$popover-body-color:   $gray-300;

// Define the popover's border to be variant of black
$popover-border-color: rgba($black, .2);

// Make the links brighter and the divider more evident
// Use an header font that is like the body text
body{
  .popover-header {
    font-family: $font-family-sans-serif;
    border-bottom: 1px solid material-color('blue', '900');
  }
  .popover {
    a {
      color: material-color('amber', '900');
    }
  }
}

// }}}

// Import all of Bootstrap {{{

@import "node_modules/bootstrap/scss/bootstrap";

// }}}

// Twitter {{{

#tw-gkapfham li {
  width: 90%;
  float: none;
}

#tw-gkapfham .timePosted {
  margin: -10px 0px 10px 5px;
  padding: 0 15px;
  font-size: 14px;
  text-align: left;
}

#tw-gkapfham .interact {
  /* margin: -30px 0px 10px 180px; */
  margin: -10px 0px 5px 2px;
  padding: 0 15px;
  font-size: 14px;
  text-align: left;
}

#tw-gkapfham .timePosted:before {
  font-family: "Fontawesome";
  -webkit-font-smoothing: antialiased;
  content: "";
  padding-right: 4px;
}

#tw-gkapfham .interact .twitter_reply_icon, #tw-gkapfham .interact .twitter_fav_icon, #tw-gkapfham .interact .twitter_retweet_icon {
  text-align: center;
  margin: -20px 0px 10px 5px;
  font-size: 14px;
  display: inline-block;
}

#tw-gkapfham .interact .twitter_reply_icon:before, #tw-gkapfham .interact .twitter_fav_icon:before, #tw-gkapfham .interact .twitter_retweet_icon:before {
  font-size: 14px;
  font-family: "Fontawesome";
  -webkit-font-smoothing: antialiased;
  padding-right: 4px;
}

#tw-gkapfham .interact .twitter_reply_icon:before {
  content: "";
}

#tw-gkapfham .interact .twitter_retweet_icon:before {
  content: "";
}

#tw-gkapfham .interact .twitter_fav_icon:before {
  content: "";
}

// }}}

