// Import the Material Design Colors {{{

@import 'node_modules/sass-material-colors/sass/sass-material-colors';

// }}}

// Color System {{{

// Define the grey scale colors

$white:    #fff !default;
$gray-100: material-color('grey', '100');
$gray-200: material-color('grey', '200');
$gray-300: material-color('grey', '300');
$gray-400: material-color('grey', '400');
$gray-500: material-color('grey', '500');
$gray-600: material-color('grey', '600');
$gray-700: material-color('grey', '700');
$gray-800: material-color('grey', '800');
$gray-900: material-color('grey', '900');
$black:    #000 !default;

// Create the mapping for grey scale colors
$grays:  () !default;
$grays:  map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

// Define the colors

$blue:   material-color('blue', '800');
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink:   #e83e8c !default;
$red:    #dc3545 !default;
$orange: material-color('orange', '800');
$yellow: #ffc107 !default;
$green:  #28a745 !default;
$teal:   #20c997 !default;
$cyan:   #17a2b8 !default;

// Creating the mapping for the colors
$colors:       () !default;
$colors:       map-merge((
  "blue":      $blue,
  "indigo":    $indigo,
  "purple":    $purple,
  "pink":      $pink,
  "red":       $red,
  "orange":    $orange,
  "yellow":    $yellow,
  "green":     $green,
  "teal":      $teal,
  "cyan":      $cyan,
  "white":     $white,
  "gray":      $gray-600,
  "gray-dark": $gray-900
), $colors);

// Define the theme colors
$primary:   $orange;
$secondary: $gray-900;
$success:   $green !default;
$info:      $cyan !default;
$warning:   $yellow !default;
$danger:    $red !default;
$light:     $gray-200;
$dark:      $black;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":   $primary,
  "secondary": $secondary,
  "success":   $success,
  "info":      $info,
  "warning":   $warning,
  "danger":    $danger,
  "light":     $light,
  "dark":      $dark
), $theme-colors);

// }}}

// Fonts {{{

// Use fonts from Google Web Fonts
$web-font-path: "https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab" !default;
@import url($web-font-path);

// }}}

// Typography {{{

// Define fonts from Google, also using platform fallback fonts
$font-family-sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Assume the base font size is 16px and define the base font to be 18 px or 18 / 16 = 1.125rem
$font-size-base: 1.125rem;

// Define the font weights for the body text
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

// Define all of the header fonts in rem units
$h1-font-size: 3.375rem;
$h2-font-size: 2.375rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: 0.75rem;

// Define the main font for all of the headings
$headings-font-family: "Roboto Slab";
$headings-font-weight: 500;
$headings-line-height: 1.1;

// }}}

// Navbar {{{

// Define the colors for the Navbar
$navbar-dark-color: $gray-600;
$navbar-dark-hover-color: $gray-500;
$navbar-dark-active-color: $gray-600;
$navbar-dark-toggler-border-color: $gray-600;

// }}}

// Dropdowns {{{

$component-active-color: $gray-200;
$component-active-bg: $primary;

$dropdown-min-width:    10rem !default;
$dropdown-padding-y:    .5rem !default;
$dropdown-spacer:       .125rem !default;
$dropdown-bg:           $black !default;
$dropdown-border-color: rgba($black, .85) !default;
$dropdown-divider-bg:   $gray-200 !default;
$dropdown-box-shadow:   0 .5rem 1rem rgba($black, .175) !default;

$dropdown-link-color:       $gray-600;
$dropdown-link-hover-color: $gray-300;
$dropdown-link-hover-bg:    $gray-800;

$dropdown-link-active-color:        $component-active-color !default;
$dropdown-link-active-bg:           $component-active-bg !default;

// }}}

// Headings {{{

// Define the color for all of the headings
$headings-color: $gray-600;

// }}}

// Body {{{

// Define the background and main text color
$body-bg: $secondary;
$body-color: $gray-400;

// Push down the main content to accommodate the fixed header
body {
  min-height: 75rem;
  padding-top: 4.25rem;
}

// }}}

// Import all of Bootstrap {{{

@import "node_modules/bootstrap/scss/bootstrap";

// }}}
