[submodule "_bibliography"]
	path = _bibliography
	url = https://github.com/gkapfham/research-bibliography.git
[submodule "teaching/fs101F2013/provide"]
	path = teaching/fs101F2013/provide
	url = https://github.com/gkapfham/fs101F2013.git
[submodule "teaching/cs290F2013/provide"]
	path = teaching/cs290F2013/provide
	url = https://github.com/gkapfham/cs290F2013.git
[submodule "teaching/cs500501F2013/provide"]
	path = teaching/cs500501F2013/provide
	url = https://github.com/gkapfham/cs500501F2013.git
[submodule "teaching/cs591F2013/provide"]
	path = teaching/cs591F2013/provide
	url = https://github.com/gkapfham/cs591F2013.git
[submodule "teaching/cs600F2013/provide"]
	path = teaching/cs600F2013/provide
	url = https://github.com/gkapfham/cs60060120132014.git
[submodule "teaching/cs111F2014/provide"]
	path = teaching/cs111F2014/provide
	url = https://github.com/gkapfham/cs111F2014.git
[submodule "teaching/cs380F2014/provide"]
	path = teaching/cs380F2014/provide
	url = https://github.com/gkapfham/cs380F2014.git
[submodule "teaching/cs500501F2014/provide"]
	path = teaching/cs500501F2014/provide
	url = https://github.com/gkapfham/cs500501F2014.git
[submodule "teaching/cs591F2014/provide"]
	path = teaching/cs591F2014/provide
	url = https://github.com/gkapfham/cs591F2014.git
[submodule "teaching/provide"]
	path = teaching/provide
	url = https://github.com/gkapfham/cs60060120142015.git
[submodule "teaching/cs600F2014/provide"]
	path = teaching/cs600F2014/provide
	url = https://github.com/gkapfham/cs60060120142015.git
[submodule "teaching/cs112S2014/provide"]
	path = teaching/cs112S2014/provide
	url = https://github.com/gkapfham/cs112S2014.git
[submodule "teaching/cs440S2014/provide"]
	path = teaching/cs440S2014/provide
	url = https://github.com/gkapfham/cs440S2014.git
[submodule "teaching/cs500501S2014/provide"]
	path = teaching/cs500501S2014/provide
	url = https://github.com/gkapfham/cs500501S2014.git
[submodule "teaching/cs610S2014/provide"]
	path = teaching/cs610S2014/provide
	url = https://github.com/gkapfham/cs60060120132014.git
[submodule "teaching/cs111F2015/provide"]
	path = teaching/cs111F2015/provide
	url = https://github.com/gkapfham/cs111F2015.git
[submodule "teaching/cs280F2015/provide"]
	path = teaching/cs280F2015/provide
	url = https://github.com/gkapfham/cs280F2015.git
[submodule "teaching/cs600F2015/provide"]
	path = teaching/cs600F2015/provide
	url = https://github.com/gkapfham/cs60060120152016.git
