[submodule "_bibliography"]
	path = _bibliography
	url = https://github.com/gkapfham/research-bibliography.git
[submodule "teaching/fs101F2013/provide"]
	path = teaching/fs101F2013/provide
	url = https://github.com/gkapfham/fs101F2013.git
[submodule "teaching/cs290F2013/provide"]
	path = teaching/cs290F2013/provide
	url = https://github.com/gkapfham/cs290F2013.git
[submodule "teaching/cs500501F2013/provide"]
	path = teaching/cs500501F2013/provide
	url = https://github.com/gkapfham/cs500501F2013.git
[submodule "teaching/cs591F2013/provide"]
	path = teaching/cs591F2013/provide
	url = https://github.com/gkapfham/cs591F2013.git
[submodule "teaching/cs600F2013/provide"]
	path = teaching/cs600F2013/provide
	url = https://github.com/gkapfham/cs60060120132014.git
[submodule "teaching/cs111F2014/provide"]
	path = teaching/cs111F2014/provide
	url = https://github.com/gkapfham/cs111F2014.git
[submodule "teaching/cs380F2014/provide"]
	path = teaching/cs380F2014/provide
	url = https://github.com/gkapfham/cs380F2014.git
[submodule "teaching/cs500501F2014/provide"]
	path = teaching/cs500501F2014/provide
	url = https://github.com/gkapfham/cs500501F2014.git
[submodule "teaching/cs591F2014/provide"]
	path = teaching/cs591F2014/provide
	url = https://github.com/gkapfham/cs591F2014.git
[submodule "teaching/cs600F2014/provide"]
	path = teaching/cs600F2014/provide
	url = https://github.com/gkapfham/cs60060120142015.git
[submodule "teaching/cs112S2014/provide"]
	path = teaching/cs112S2014/provide
	url = https://github.com/gkapfham/cs112S2014.git
[submodule "teaching/cs440S2014/provide"]
	path = teaching/cs440S2014/provide
	url = https://github.com/gkapfham/cs440S2014.git
[submodule "teaching/cs500501S2014/provide"]
	path = teaching/cs500501S2014/provide
	url = https://github.com/gkapfham/cs500501S2014.git
[submodule "teaching/cs610S2014/provide"]
	path = teaching/cs610S2014/provide
	url = https://github.com/gkapfham/cs60060120132014.git
[submodule "teaching/cs111F2015/provide"]
	path = teaching/cs111F2015/provide
	url = https://github.com/gkapfham/cs111F2015.git
[submodule "teaching/cs280F2015/provide"]
	path = teaching/cs280F2015/provide
	url = https://github.com/gkapfham/cs280F2015.git
[submodule "teaching/cs600F2015/provide"]
	path = teaching/cs600F2015/provide
	url = https://github.com/gkapfham/cs60060120152016.git
[submodule "teaching/cs112S2015/provide"]
	path = teaching/cs112S2015/provide
	url = https://github.com/gkapfham/cs112S2015.git
[submodule "teaching/cs580S2015/provide"]
	path = teaching/cs580S2015/provide
	url = https://github.com/gkapfham/cs580S2015.git
[submodule "teaching/cs610S2015/provide"]
	path = teaching/cs610S2015/provide
	url = https://github.com/gkapfham/cs60060120142015.git
[submodule "teaching/cs111F2016/provide"]
	path = teaching/cs111F2016/provide
	url = https://github.com/gkapfham/cs111F2016.git
[submodule "teaching/cs112F2016/provide"]
	path = teaching/cs112F2016/provide
	url = https://github.com/gkapfham/cs112F2016.git
[submodule "teaching/cs600F2016/provide"]
	path = teaching/cs600F2016/provide
	url = https://github.com/gkapfham/cs60061020162017.git
[submodule "teaching/cs111S2016/provide"]
	path = teaching/cs111S2016/provide
	url = https://github.com/gkapfham/cs111S2016.git
[submodule "teaching/cs441S2016/provide"]
	path = teaching/cs441S2016/provide
	url = https://github.com/gkapfham/cs441S2016.git
[submodule "teaching/cs610S2016/provide"]
	path = teaching/cs610S2016/provide
	url = https://github.com/gkapfham/cs60060120152016.git
[submodule "teaching/cs111F2017/provide/slides"]
	path = teaching/cs111F2017/provide/slides
	url = https://github.com/Allegheny-Computer-Science-111-F2017/cs111-F2017-slides.git
[submodule "teaching/cs280F2017/provide/slides"]
	path = teaching/cs280F2017/provide/slides
	url = https://github.com/Allegheny-Computer-Science-280-F2017/cs280-F2017-slides.git
[submodule "teaching/fs102S2017/provide"]
	path = teaching/fs102S2017/provide
	url = https://github.com/gkapfham/fs102S2017.git
[submodule "teaching/cs111S2017/provide"]
	path = teaching/cs111S2017/provide
	url = https://github.com/gkapfham/cs111S2017.git
[submodule "teaching/cs610S2017/provide"]
	path = teaching/cs610S2017/provide
	url = https://github.com/gkapfham/cs60061020162017.git
[submodule "teaching/cs103S2018/provide/slides"]
	path = teaching/cs103S2018/provide/slides
	url = https://github.com/Allegheny-Computer-Science-103-S2018/cs103-S2018-slides.git
[submodule "teaching/cs112S2018/provide/slides"]
	path = teaching/cs112S2018/provide/slides
	url = https://github.com/Allegheny-Computer-Science-112-S2018/cs112-S2018-slides.git
[submodule "teaching/cs100F2018/provide/slides"]
	path = teaching/cs100F2018/provide/slides
	url = https://github.com/Allegheny-Computer-Science-100-F2018/cs100-F2018-slides.git
[submodule "teaching/cs101F2018/provide/slides"]
	path = teaching/cs101F2018/provide/slides
	url = https://github.com/Allegheny-Computer-Science-101-F2018/cs101-F2018-slides.git
[submodule "teaching/cs302S2019/provide/slides"]
	path = teaching/cs302S2019/provide/slides
	url = https://github.com/Allegheny-Computer-Science-302-S2019/cs302-S2019-slides.git
