<script type="text/javascript">
var lead = [
  '<p class="lead">Oh, and I accent the <a class="characteristic" href="https://github.com/AVMf/avmf">AVMf</a>.</p>',
  '<p class="lead">Oh, and I build a <a class="characteristic" href="https://github.com/gkapfham/research-bibliography">bibliography</a>.</p>',
  '<p class="lead">Oh, and I craft a <a class="characteristic" href="https://github.com/gkapfham/vim-vitamin-onec">colorscheme</a>.</p>',
  '<p class="lead">Oh, and I revise some <a class="characteristic" href="https://github.com/schemaanalyst/schemaanalyst-bibliography">references</a>.</p>',
  '<p class="lead">Oh, and I devise some <a class="characteristic" href="https://github.com/gkapfham/dotfiles">dotfiles</a>.</p>',
  '<p class="lead">Oh, and I guide the <a class="characteristic" href="https://github.com/GatorEducator/gatorgrader">gatorgrader</a>.</p>',
  '<p class="lead">Oh, and I replicate my <a class="characteristic" href="https://github.com/schemaanalyst/sticcer-replicate">research</a>.</p>',
  '<p class="lead">Oh, and I study the <a class="characteristic" href="https://github.com/schemaanalyst/schemaanalyst">schemaanalyst</a>.</p>',
  '<p class="lead">Oh, and I predict with <a class="characteristic" href="https://github.com/Tada-Project/tada">tada</a>.</p>',
  '<p class="lead">Oh, and I tweak some <a class="characteristic" href="https://github.com/gkapfham/tmuxinators">tmuxinators</a>.</p>',
];
function randomLead() {
   return lead[Math.floor(Math.random() * lead.length)];
}
</script>
