{% assign found_post = 0 %}
{% for post in site.posts limit:1 %}
  <!-- This is not the most recent article, so link to the most recent one -->
  {% if post.title != page.title %}
  <em>Enjoy this post?</em> If so, please read,
  <a class="major" href="/{{ post.url | remove_first:'/'}}">{{ post.title }}</a>, my most recent article.
  {% else %}
  <!-- This is the most recent article, so link to the most recent -->
  <!-- one that is also the one that was modified -->
  <!-- Note that this does not find the article that was most -->
  <!-- recently modified, but I guess that is acceptable -->
  {% for post in site.posts %}
  {% if post.last_modified_at and found_post == 0 %}
  <em>Enjoy this post?</em> If so, please read,
  <a class="major" href="/{{ post.url | remove_first:'/'}}">{{ post.title }}</a>, a recently updated article.
  {% assign found_post = 1 %}
  {% endif %}
  {% endfor %}
  {% endif %}
{% endfor %}

<!-- Display all of the tags for this post -->

<!-- Use a button toolbar because this groups the buttons together -->
<!-- Note that a button toolbar is supposed to add spacing, which I did not notice -->
<div class="btn-toolbar mb-4">
<i class="fa fa-tags"></i>
{% for category in page.categories %}
<!-- Display the post's tags in a link that is an extra-small sized button -->
<!-- Represent the tags as buttons that have extra vertical spacing between then -->
<a class="btn btn-info btn-xs active mx-1" href="/categories/#{{ category | slugify }}"> {{ category }}</a>
{% endfor %}
</div>
