<div class="row">
  <div class="col">
    {% if page.previous == nil %}
    <p>
    {% endif %}
    {% if page.next != nil %}
    <i class="fa fa-long-arrow-left"></i> <a href="/{{ page.next.url | remove_first:'/'}}">{{ page.next.title | truncatewords: 7 }}</a>
    {% endif %}
    {% if page.previous == nil %}
    </p>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col">
    {% if page.previous != nil %}
    <p>
    <a href="/{{ page.previous.url | remove_first:'/'}}">{{ page.previous.title | truncatewords: 7 }}</a> <i class="fa fa-long-arrow-right"></i>
    </p>
    {% endif %}
  </div>
</div>
