<div class="row">
  <div class="col-xs-12">
  </div>
</div>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-sm-11">
    <a href="https://twitter.com/GregKapfhammer"><i class="fa fa-twitter fa-2x"></i></a> &nbsp;
    <a href="http://www.linkedin.com/in/GregKapfhammer"><i class="fa fa-linkedin fa-2x"></i></a> &nbsp;
    <a href="https://github.com/gkapfham"><i class="fa fa-github fa-2x"></i></a> &nbsp;
    <a href="http://scholar.google.com/citations?user=g0eDPjYAAAAJ"><i class="fa fa-google fa-2x"></i></a> &nbsp;
    <a href="https://www.instagram.com/gregkapfhammer/"><i class="fa fa-instagram fa-2x"></i></a> &nbsp;
    <a href="{{site.baseurl}}feed/"><i class="fa fa-rss fa-2x"></i></a> &nbsp;
  </div>
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-sm-11">
    <div class="footerquestion">Please <a href="{{site.baseurl}}support/">support</a> my work!</div>
  </div>
</div>
