<!-- <1!-- Include all of the JavaScript libraries --1> -->
<!-- <1!-- jQuery is needed for the zoom-to-top feature --1> -->
<!-- <script src="/js/jquery-3.3.1.min.js"></script> -->
<!-- <1!-- Popper is needed for the tooltips and popovers --1> -->
<!-- <script src="/js/popper.min.js"></script> -->
<!-- <1!-- Bootstrap is needed for responsive layout --1> -->
<!-- <script src="/js/bootstrap.min.js"></script> -->
<!-- <1!-- ScrollToMin is needed for the zoom-to-top feature --1> -->
<!-- <script async type="text/javascript" src="/js/jquery.scrollTo.min.js"></script> -->

<script src="/js/scripts.js"></script>

<!-- Enable and configure the popovers (which require tooltips) -->
<script>
  // Enable the tooltips and popovers
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  })
  $(function() {
    $('[data-toggle="popover"]').popover()
  })
  // Close a popover by a click on the button or the popover
  $('[data-trigger="manual"]').click(function() {
    $(this).popover('toggle');
  }).blur(function() {
    $(this).popover('hide');
  });
</script>

<!-- Perform the scrolling back to the top of the web page -->
<script>
jQuery(document).ready(function() {
  var offset = 500;
  var duration = 250;
  jQuery(window).scroll(function() {
  if (jQuery(this).scrollTop() > offset) {
  jQuery('.back-to-top').fadeIn(duration);
} else {
  jQuery('.back-to-top').fadeOut(duration);
}
});
  jQuery('.back-to-top').click(function(event) {
  event.preventDefault();
  jQuery('html, body').animate({scrollTop: 0}, duration);
  return false;
})
});
</script>
