<div class="row">
  <div class="col-xs-12">
  </div>
</div>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-sm-11">
    <a class="social" href="https://twitter.com/GregKapfhammer"><i class="fa fa-twitter fa-2x"></i></a>
    <a class="social" href="http://www.linkedin.com/in/GregKapfhammer"><i class="fa fa-linkedin fa-2x"></i></a>
    <a class="social" href="https://github.com/gkapfham"><i class="fa fa-github fa-2x"></i></a>
    <a class="social" href="http://scholar.google.com/citations?user=g0eDPjYAAAAJ"><i class="fa fa-google fa-2x"></i></a>
    <a class="social" href="https://www.instagram.com/gregkapfhammer/"><i class="fa fa-instagram fa-2x"></i></a>
    <a class="social" href="/feed/"><i class="fa fa-rss fa-2x"></i></a>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-sm-11">
    <p>Please <a href="/support/">support</a> my work!</p>
  </div>
</div>

<a href="#" class="back-to-top"><i class="fa fa-angle-double-up fa-2x"></i></a>

<div class="row">
  <div class="col-xs-12">
  </div>
</div>
