<!-- Give a row to give some vertical space -->
<div class="row">
  <div class="col-xs-12">
  </div>
</div>

<!-- Produce the footer with all of the social media references -->
<!-- Display a tooltip encouraging interaction for each of the icons -->
<div class="row">
  <!-- Blank row used for padding -->
  <div class="col-md-1">
  </div>
  <!-- Social media row -->
  <!-- Open all of  these links into a new tab -->
  <div class="col-sm-11">
    <!-- Twitter -->
    <a target="_blank" class="social" data-toggle="tooltip" data-placement="top" title="Follow on Twitter"
        href="https://twitter.com/GregKapfhammer"><i class="fa fa-twitter fa-2x"></i></a>

    <!-- LinkedIn -->
    <a target="_blank" class="social" data-toggle="tooltip" data-placement="top" title="Network on LinkedIn"
        href="http://www.linkedin.com/in/GregKapfhammer"><i class="fa fa-linkedin fa-2x"></i></a>

    <!-- GitHub -->
    <a target="_blank" class="social" data-toggle="tooltip" data-placement="top" title="Code on GitHub"
        href="https://github.com/gkapfham"><i class="fa fa-github fa-2x"></i></a>

    <!-- Google Scholar -->
    <a target="_blank" class="social" data-toggle="tooltip" data-placement="top" title="View Google Scholar"
        href="http://scholar.google.com/citations?user=g0eDPjYAAAAJ"><i class="fa fa-google fa-2x"></i></a>

    <!-- Instagram -->
    <a target="_blank" class="social" data-toggle="tooltip" data-placement="top" title="Photos on Instagram"
        href="https://www.instagram.com/gregkapfhammer/"><i class="fa fa-instagram fa-2x"></i></a>

    <!-- RSS Feed -->
    <a class="social" data-toggle="tooltip" data-placement="top" title="Subscribe to RSS"
        href="/feed/"><i class="fa fa-rss fa-2x"></i></a>
  </div>
</div>

<!-- Give the support link -->
<div class="row">
  <!-- Blank row used for padding -->
  <div class="col-md-1">
  </div>
  <!-- Provide the link -->
  <div class="col-sm-11">
    Please <a href="/support/">support</a> my work! <br>
    <p>View the <a target="_blank" href="https://github.com/gkapfham/www.gregorykapfhammer.com">source</a>.</p>
  </div>
</div>

<!-- Display the zoom-to-top "button" -->
<a href="#" class="back-to-top"><i class="fa fa-angle-double-up fa-2x"></i></a>

<!-- Give an extra blank row for additional space padding -->
<div class="row">
  <div class="col-xs-12">
  </div>
</div>
