<!-- Include all of the JavaScript libraries -->
<!-- jQuery is needed for the zoom-to-top feature -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!-- Popper is needed for the tooltips and popovers -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<!-- Bootstrap is needed for responsive layout -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<!-- ScrollToMin is needed for the zoom-to-top feature -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>

<!-- Enable and configure the popovers (which require tooltips) -->
<script>
  // Enable the tooltips and popovers
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  })
  $(function() {
    $('[data-toggle="popover"]').popover()
  })
  // Close a popover by a click on the button or the popover
  $('[data-trigger="manual"]').click(function() {
    $(this).popover('toggle');
  }).blur(function() {
    $(this).popover('hide');
  });
</script>

<!-- Perform the scrolling back to the top of the web page -->
<script>
jQuery(document).ready(function() {
  var offset = 500;
  var duration = 250;
  jQuery(window).scroll(function() {
  if (jQuery(this).scrollTop() > offset) {
  jQuery('.back-to-top').fadeIn(duration);
} else {
  jQuery('.back-to-top').fadeOut(duration);
}
});
  jQuery('.back-to-top').click(function(event) {
  event.preventDefault();
  jQuery('html, body').animate({scrollTop: 0}, duration);
  return false;
})
});
</script>
