<!doctype html>
<html lang="en">

<head>
  {% include _headers/head_all.html %}
</head>

<!-- NOTE: the "details" layout is only for papers; presentations are simply direct links -->

<!-- Always call the load() function so that clicking on links to anchors handles the fixed navbar -->
<body onload="load()">

  <!-- Define the navigation bar -->
  {% include_cached _headers/navbar.html %}

  <!-- Container for all of the content -->
  <div class="container">

    <div class="row">
      <!-- Padding on the left -->
      <div class="col-md-1">
      </div>
      <!-- Main content -->
      <div class="col-md-10">

          <!-- Always display the title of the paper or presentation and the author(s) of the presentation -->
          <h1>{{ page.entry.title }}</h1>
          <h3>{{ page.entry.author }}</h3>

          <!-- If there is a "booktitle" (i.e., proceedings) and a year, then display this as well -->
          {% if page.entry.booktitle and page.entry.year %}
          <em><h3>{{ page.entry.booktitle }}, {{ page.entry.year }}</h3></em>
          {% endif %}

          <!-- If there is a "journal" (i.e., it is a journal) and the other parts of a journal and a year, then display them -->
          {% if page.entry.journal and page.entry.volume != nil and page.entry.number != nil and page.entry.year %}
          <em><h3>{{ page.entry.journal }} {{ page.entry.volume }}:{{ page.entry.number }}, {{ page.entry.year }}</h3></em>
          {% endif %}

          <!-- If there is a "journal" (i.e., it is a journal) and not the other parts of a journal and a year, then display them -->
          {% if page.entry.journal and page.entry.volume == nil and page.entry.number == nil and page.entry.year %}
          <em><h3>{{ page.entry.journal}}, {{ page.entry.year }}</h3></em>
          {% endif %}

          <!-- If there is an "institution" (i.e., it is a technical report) and the year, then display them -->
          {% if page.entry.institution and page.entry.number and page.entry.year %}
          <em><h3>Technical Report {{ page.entry.number }}, {{ page.entry.year }}</h3></em>
          {% endif %}

          <!-- One of the above two options will have been true and now we need space for the next data points for this entry -->
          <p></p>

          <!-- Display the abstract of the conference or journal paper -->
          {% if page.entry.abstract %}
          <h3>Abstract</h3>
          <p>{{ page.entry.abstract }}</p>
          {% endif %}

          <!-- Display the label for the resources since at least one resource exists -->
          {% if page.entry.nodownload != 'true' or
                page.entry.presentation or
                page.entry.presented or
                page.entry.paper or
                page.entry.data or
                page.entry.tool %}
          <h3>Resources</h3>
          {% endif %}

          <!-- display the paper download link for the paper (it is always based on the key of the specific entry) -->
          {% if page.entry.nodownload != 'true' and page.entry.talk != 'true' and page.entry.keywords != 'undergraduate' %}
          <div class="researchitem">
          <a target="_blank" rel="noopener" href = "/download/research/papers/key/{{page.entry.key}}-paper.pdf"><i class="fa fa-download"></i> Paper</a>
          </div>
          {% endif %}

          <!-- the paper is designated as being "presented" in bibtex file and thus the key-based name should be displayed -->
          {% if page.entry.presented %}
          <div class="researchitem">
          <a class="researchitem" target="_blank" rel="noopener" href="/download/research/presentations/key/{{page.entry.key}}-presentation.pdf">
            <i class="fa fa-download"></i> Presentation</a>
          </div>
          {% endif %}

          <!-- there is a speaker deck presentation link in the bibtex file and thus this should be displayed -->
          {% if page.entry.presentation %}
          <div class="researchitem">
          <a class="researchitem" target="_blank" rel="noopener" href = "{{page.entry.presentation}}"><i class="fa fa-cloud-download"></i> Presentation</a>
          </div>
          {% endif %}

          <!-- PAPER: display the references to external resources (e.g., a GitHub site for the paper or the tool) -->
          {% if page.entry.paper %}
          <div class="researchitem">
          <a class="researchitem" target="_blank" rel="noopener" href = "{{page.entry.paper}}">
            <i class="fa fa-github"></i> {{ page.entry.paper | replace: "https://github.com/", "" }}</a>
          </div>
          {% endif %}

          <!-- DATA: display the references to external resources (e.g., a GitHub site for the paper or the tool) -->
          {% if page.entry.data %}
          <div class="researchitem">
          <a class="researchitem" target="_blank" rel="noopener" href = "{{page.entry.data}}">
            <i class="fa fa-github"></i> {{ page.entry.data | replace: "https://github.com/", "" }}</a>
          </div>
          {% endif %}

          <!-- TOOL: display the references to external resources (e.g., a GitHub site for the paper or the tool) -->
          {% if page.entry.tool %}
          <div class="researchitem">
          <a class="researchitem" target="_blank" rel="noopener" href = "{{page.entry.tool}}">
            <i class="fa fa-github"></i> {{ page.entry.tool | replace: "https://github.com/", "" }}</a>
          </div>
          {% endif %}

          <!-- Again display extra spacing between the previous entries and the final bibtex -->
          <p></p>

          <!-- Display the complete paper reference if a BiBTeX is available -->
          {% if page.entry.bibtex %}
          <h3>Reference</h3>
          <!-- Give the paper reference -->
          <p>
          {% reference page.entry.key %}
          </p>
          <!-- Link to the GitHub repository for the BiBTeX reference -->
          <p>
          <h3>Citing</h3>
          <p>
          Want to cite this paper? Look in the BiBTeX file of <a target="_blank" rel="noopener" href="https://github.com/gkapfham/research-bibliography">gkapfham/research-bibliography</a> for the key "{{page.entry.key}}".
          {% endif %}
          </p>
          <!-- Provide a link for returning to the main list of the papers -->
          <p>
          <i class="fa fa-angle-double-up"></i><a href="{{site.baseurl}}research/papers/"> Return to the List of Papers</a>
          </p>

      </div>
      <!-- Padding on the right -->
      <div class="col-md-1">
      </div>
    </div>

    <!-- include_cached the code creates the footer -->
    {% include_cached _footers/default_footer.html %}

  </div>

  <!-- include_cached the code creates the footer -->
  {% include_cached _footers/default_javascript_footer.html %}

</body>

</html>
