---
---

<!-- NOTE: The "entry-forward" layout controls how the small listings of papers or presentations will display on index file -->

<!-- this is a presentation and we must display the title with a link to the download location (goes directly to a PDF) -->
{% if entry.howpublished %}
<li><i class="fa-li fa fa-file-image-o fa-lg"></i>
  <!-- this is a presentation with a special download link, display it in a link (will always be to Speaker Deck) -->
  {% if entry.presentation %}
  <a class="major" target="_blank" rel="noopener" href="{{entry.presentation}}">{{entry.title}}</a></li>
  <!-- this presentation does not have a special download link and thus we give a link to a PDF named after the key -->
  {% else %}
  <a class="major" href="/download/research/presentations/key/{{entry.key}}-presentation.pdf">{{entry.title}}</a></li>
  {% endif %}
  <!-- always display venue of the presentation -->
  {{ entry.howpublished }} <p>
<!-- this is a paper and thus we always display the title of the paper and link to the details page -->
{% else %}
<li><i class="fa-li fa fa-file-text-o fa-lg"></i>
  <a class="major" href="/research/papers/{{entry.key}}">{{entry.title}}</a> </li>
<!-- always display the author(s) of the paper -->
{{ entry.author }} <p>
{% endif %}
