---
---

<!-- NOTE: The "entry" layout controls how the full listing presentations will display -->

<!-- This is a presentation and we must display the title with a link to the download location (goes directly to a PDF) -->
{% if entry.howpublished %}
{% if entry.nodownload != 'true' %}
<a class="major" target="_blank" rel="noopener" href="/download/research/presentations/key/{{entry.key}}-presentation.pdf">{{entry.title}}</a> <br>
{% if entry.addendum %}
<!-- This presentation has an addendum explaining details about joint work -->
{{entry.addendum}} <br>
{% endif %}
{% if entry.howpublished %}
<!-- This presentation has a howpublished showing the venue at which presentation given-->
{{entry.howpublished}} <br>
{% endif %}
{% if entry.presentation %}
<!-- This presentation also has a presentation attribute which is a link to the Speaker Deck -->
Preview on <a target="_blank" rel="noopener" href="{{entry.presentation}}">Speaker Deck</a> <br>
{% endif %}
{% if entry.video %}
<!-- This presentation also has a video attribute which is a link to the YouTube -->
Watch on <a target="_blank" rel="noopener" href="{{entry.video}}">YouTube</a> <br>
{% endif %}
<!-- Add space between this presentation entry and the next one -->
<p></p>
{% endif %}
{% endif %}
