---
---

<!-- NOTE: The "entry" layout controls how the full listing of papers will display -->

<!-- This is a paper and thus we always display the title of the paper and link to the details page -->
<!-- Also display the publication venue, which will be either the name of the conference or the journal name -->
<a class="major" href="{{entry.key}}/">{{entry.title}}</a>
<!-- Add a line break between the title of the paper and the publication venue -->
<br>
<!-- If there is a "booktitle" (i.e., proceedings), then display its name -->
{% if entry.booktitle %}
<em>{{ entry.booktitle }}</em>
{% endif %}
<!-- If there is a "journal" (i.e., it is a journal), then display its name -->
{% if entry.journal %}
<em>{{ entry.journal}}</em>
{% endif %}
<!-- Include a line break between the publication venue and the list of authors -->
<br>
<!-- Always display the author(s) of the paper -->
{{ entry.author }}
<p></p>
