<!doctype html>
<html lang="en">

<head>
  {% include _headers/head_all.html %}
</head>

<!-- Always call the load() function so that clicking on links to anchors handles the fixed navbar -->
<body onload="load()">

  <!-- Define the navigation bar -->
  {% include_cached _headers/navbar.html %}

  <!-- Container for all of the content -->
  <div class="container">

    <div class="row">
      <!-- Padding on the left -->
      <div class="col-md-1">
      </div>
      <!-- Main content -->
      <div class="col-md-10">
        <!-- Include the page content that comes from Markdown file -->
        {{ content }}
        <!-- include_cached the code creates the footer -->
        {% include _footers/course_item_return_footer.html %}
      </div>
      <!-- Padding on the right -->
      <div class="col-md-1">
      </div>
    </div>

    <!-- include_cached the code that creates the footer -->
    {% include_cached _footers/default_footer.html %}

  </div>

  <!-- include_cached the code creates the footer for JavaScript -->
  {% include_cached _footers/default_javascript_footer.html %}

</body>

</html>
