<!-- References: include.image -->
<img class="img-fluid" src="/download/images/header/{{include.image}}"/>

<button type="button" title="Photo Reference" class="btn btn-info btn-small active" data-toggle="popover" data-trigger="manual" data-html="true" data-placement="right" data-content="{{include.source}} flickr photo</a> shared by <a target='_blank' href='http://flickr.com/people/multichrome'>/Casper</a> under a <a target='_blank' href='http://creativecommons.org/licenses/by-nc-nd/2.0/'>CC (BY-NC-ND) license</a>">
{{include.label}}
</button>
